---
import Layout from '../layouts/Layout.astro';

const title = "To be continued!....";
const backdrop = "/images/clara-denari-2.webp";
---

<Layout title={title} backdrop={backdrop}>
  <div class="prose max-w-none">
    <h1>{title}</h1>
    
    <p>Now it's your turn to continue the adventure!</p>
  </div>
</Layout> 