---
export interface Props {
  backdrop?: string;
}

const { backdrop } = Astro.props;
---

{backdrop && (
  <div
    role="banner"
    style={`background-image: url(${backdrop})`}
    class="w-screen h-96 backdrop rounded-none -mx-8 -mt-6 mb-4"
  >
    
  </div>
)} 